.table-meld-zone-top{
    position:absolute;

    top:120px;
    left:180px;
    right:180px;

    height:150px;
}

.table-meld-zone-left{
    position:absolute;

    left:170px;
    top:210px;

    width:300px;
    bottom:210px;
}

.table-meld-zone-right{
    position:absolute;

    right:170px;
    top:210px;

    width:300px;
    bottom:210px;
}

.table-meld-zone-bottom{
    position:absolute;

    left:360px;
    right:360px;

    bottom:160px;

    height:160px;
}